

.hero {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: #00ff88;
  font-size: 2.5rem;
  font-family: "Courier New", monospace;
  text-align: center;
  white-space: pre-line;

  text-shadow:
    0 0 5px #00ff88,
    0 0 10px #00ff88,
    0 0 20px #00ff88;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
